﻿@model Employee
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <pre>
        Id:@Model.id
        Name:@Model.name
        Email:@Model.email
        Joining Date: @Model.Joindate
        Mobile: @Model.mobile
        City: @Model.city
    </pre>
</div>

