﻿@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    foreach (var item in Model)
    {
        <pre>
    ID:@item.id
    Name:@item.name
    Email:@item.email
    Joining Date:@item.Joindate
    Mobile:@item.mobile
    City:@item.city
</pre>
<hr />
    }
}

